@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .question {
        @apply text-2xl flex bg-[#F8F8F8] px-5 py-3 items-center justify-between font-extrabold;
    }

    .QNA {
        @apply border-2 w-[88%] rounded-xl overflow-hidden;
    }

    .answer {
        @apply text-xl px-5 py-4 w-[78.857%];
    }

    .loginInput {
        @apply outline-none border-none h-10 bg-transparent text-white placeholder:text-white;
    }

    .inputBorder {
        @apply bg-[#959595] h-[1px] my-3;
    }
}

progress::-webkit-progress-bar {
    background-color: #e5e7eb;
    border-radius: 0.5rem;
}

progress::-webkit-progress-value {
    background-color: #10b981;
    border-radius: 0.5rem;
}

progress::-moz-progress-bar {
    background-color: #10b981;
    border-radius: 0.5rem;
}